<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iald.platform.user.mapper.SysUserInfoMapper">

    <!-- 添加缓存-->
    <cache eviction="LRU" type="cn.iald.platform.common.mybatis.MybatisRedisCache"/>

    <!-- 用户信息表Map,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="sysUserInfoMap" type="cn.iald.platform.user.entity.SysUserInfoEntity">
        <id column="userId" property="userId" />
        <result column="username" property="username" />
        <result column="realname" property="realname" />
        <result column="nickname" property="nickname" />
        <result column="deptId" property="deptId" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="delFlag" property="delFlag" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="updateBy" property="updateBy" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 用户信息表列 -->
    <sql id="columnSql">
        sui.user_id AS userId,
        sui.username AS username,
        sui.realname AS realname,
        sui.nickname AS nickname,
        sui.dept_id AS deptId,
        sui.remark AS remark,
        sui.status AS status,
        sui.del_flag AS delFlag,
        sui.create_by AS createBy,
        sui.create_time AS createTime,
        sui.update_by AS updateBy,
        sui.update_time AS updateTime
    </sql>

    <!-- 新增用户信息表数据 -->
    <insert id="save">
        INSERT INTO sys_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="realname != null">
                realname,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="realname != null">
                #{realname},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <!-- 修改用户信息表数据 -->
    <update id="update">
        UPDATE sys_user_info
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                 <if test="userId != null">
                    user_id = #{userId},
                 </if>
                 <if test="username != null">
                    username = #{username},
                 </if>
                 <if test="realname != null">
                    realname = #{realname},
                 </if>
                 <if test="nickname != null">
                    nickname = #{nickname},
                 </if>
                 <if test="deptId != null">
                    dept_id = #{deptId},
                 </if>
                 <if test="remark != null">
                    remark = #{remark},
                 </if>
                 <if test="status != null">
                    status = #{status},
                 </if>
                 <if test="delFlag != null">
                    del_flag = #{delFlag}
                 </if>
                <if test="createBy != null">
                    create_by = #{createBy},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime}
                </if>
            </trim>
        </set>
        WHERE user_id = #{userId}
    </update>

    <!-- 用户信息表查询条件 -->
    <sql id="whereSql">
        <if test="userId != null">
            AND sui.user_id = #{userId}
        </if>
        <if test="username != null and username != ''">
            AND sui.username = #{username}
        </if>
        <if test="realname != null and realname != ''">
            AND sui.realname = #{realname}
        </if>
        <if test="nickname != null and nickname != ''">
            AND sui.nickname = #{nickname}
        </if>
        <if test="deptId != null">
            AND sui.dept_id = #{deptId}
        </if>
        <if test="remark != null and remark != ''">
            AND sui.remark = #{remark}
        </if>
        <if test="status != null">
            AND sui.status = #{status}
        </if>
        <if test="createBy != null">
            AND sui.create_by = #{createBy}
        </if>
        <if test="createTime != null">
            AND sui.create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            AND sui.update_by = #{updateBy}
        </if>
        <if test="updateTime != null">
            AND sui.update_time = #{updateTime}
        </if>
        AND sui.del_flag = 1
    </sql>

    <!-- 根据查询条件查询用户信息表满足条件的List -->
    <select id="listForParam" resultMap="sysUserInfoMap">
        SELECT
        <include refid="columnSql"/>
        FROM sys_user_info AS sui
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <include refid="whereSql"/>
        </trim>
        ORDER BY sui.user_id
    </select>

    <!-- 根据查询条件查询用户信息表满足条件的Vo列表 -->
    <select id="listVoForParam" resultType="cn.iald.platform.user.vo.SysUserInfoVo">
        SELECT
            <include refid="columnSql"/>
        FROM sys_user_info AS sui
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <include refid="whereSql"/>
        </trim>
        ORDER BY sui.user_id
    </select>

    <!-- 查询指定ID的用户信息表数据 -->
    <select id="getObjectById" resultMap="sysUserInfoMap">
        SELECT
            <include refid="columnSql"/>
        FROM sys_user_info AS sui
        WHERE sui.user_id = #{userId}
    </select>

    <!-- 根据id查询用户名称-->
    <select id="getUserNameById" resultType="java.lang.String">
        SELECT IFNULL(IFNULL(t.realname,t.nickname),t.username)
        FROM sys_user_info AS t
        WHERE t.user_id = #{userId}
    </select>
</mapper>